@import '_main.scss';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.transparent-btn-style {
  background-color: transparent;
  border: none;
}

.outline-style {
  outline: 1px solid white;
}

.profile-thumbnail {
  height: 30px;
  border-radius: 50%;
}

.smoked-glass {
  background-color: rgba(43, 43, 43, 0.719);
  backdrop-filter: blur(4px);
}